recursive-include PyMCTranslate/json/versions/* *.*
include PyMCTranslate/code_functions/*.py
include PyMCTranslate/build_number
include minify_json.py
include versioneer.py
include PyMCTranslate/_version.py
prune */__pycache__/*
global-exclude *.py[cod]
